.u-section-1 .u-sheet-1 {
  min-height: 1258px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 32px auto 0 0;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  font-size: 3rem;
  margin: 31px 89px 0 720px;
}

.u-section-1 .u-image-1 {
  width: 147px;
  height: 147px;
  margin: -60px auto 0 0;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: -76px 129px 0 auto;
  padding: 29px 91px 30px 90px;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  font-size: 2.5rem;
  margin: 25px auto 0 0;
}

.u-section-1 .u-text-4 {
  font-size: 1.5rem;
  margin: 7px 626px 0 -19px;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: -83px 129px 0 auto;
  padding: 29px 92px 30px 91px;
}

.u-section-1 .u-text-5 {
  font-size: 1.5rem;
  margin: 11px 853px 0 -27px;
}

.u-section-1 .u-btn-3 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: -16px 129px 0 auto;
  padding: 28px 101px 29px 100px;
}

.u-section-1 .u-text-6 {
  font-size: 1.5rem;
  margin: -48px 648px 0 -19px;
}

.u-section-1 .u-text-7 {
  font-weight: 700;
  margin: 11px 1008px 0 -19px;
}

.u-section-1 .u-text-8 {
  font-size: 1.5rem;
  margin: 7px 1034px 0 0;
}

.u-section-1 .u-text-9 {
  font-size: 1.25rem;
  margin: 7px 778px 0 0;
}

.u-section-1 .u-text-10 {
  font-size: 1.25rem;
  margin: 7px 753px 0 -16px;
}

.u-section-1 .u-text-11 {
  font-size: 1.25rem;
  margin: 7px 758px 60px -20px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 75px;
    margin-right: -13px;
    margin-left: 622px;
  }

  .u-section-1 .u-image-1 {
    width: 213px;
    height: 213px;
    margin-top: -111px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -94px;
    margin-right: 17px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 41px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-right: 440px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-top: -1px;
    margin-right: 17px;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-top: -68px;
    margin-right: 645px;
    margin-left: -29px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: -142px;
    margin-right: 17px;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-top: 75px;
    margin-right: 444px;
    margin-left: -16px;
  }

  .u-section-1 .u-text-7 {
    width: auto;
    margin-top: 17px;
    margin-right: 801px;
  }

  .u-section-1 .u-text-8 {
    width: auto;
    margin-right: 839px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 578px;
  }

  .u-section-1 .u-text-10 {
    width: auto;
    margin-right: 553px;
  }

  .u-section-1 .u-text-11 {
    width: auto;
    margin-right: 563px;
    margin-left: -15px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-2 {
    width: 361px;
    font-size: 2.5rem;
    margin-top: 674px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-image-1 {
    width: 223px;
    height: 223px;
    margin-top: -677px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 469px;
    margin-right: auto;
  }

  .u-section-1 .u-text-3 {
    margin-top: -489px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 220px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 435px;
    margin-right: auto;
  }

  .u-section-1 .u-text-5 {
    margin-top: -501px;
    margin-right: 429px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 496px;
    margin-right: auto;
  }

  .u-section-1 .u-text-6 {
    margin-top: -565px;
    margin-right: 229px;
    margin-left: -15px;
  }

  .u-section-1 .u-text-7 {
    margin-top: 23px;
    margin-right: 577px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 619px;
  }

  .u-section-1 .u-text-9 {
    width: auto;
    margin-top: 64px;
    margin-right: 360px;
  }

  .u-section-1 .u-text-10 {
    margin-top: -88px;
    margin-right: 335px;
    margin-left: -15px;
  }

  .u-section-1 .u-text-11 {
    margin-right: 345px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 25px;
    margin-left: -30px;
  }

  .u-section-1 .u-text-2 {
    width: 373px;
    margin-top: 661px;
  }

  .u-section-1 .u-image-1 {
    width: 187px;
    height: 187px;
    margin-top: -629px;
    margin-left: -30px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 467px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: -474px;
    margin-left: -30px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 0;
    margin-right: 70px;
    margin-left: -30px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 426px;
  }

  .u-section-1 .u-text-5 {
    margin-top: -498px;
    margin-right: 286px;
    margin-left: -50px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 494px;
  }

  .u-section-1 .u-text-6 {
    margin-top: -564px;
    margin-right: 75px;
    margin-left: -50px;
  }

  .u-section-1 .u-text-7 {
    margin-top: 0;
    margin-right: 439px;
    margin-left: -50px;
  }

  .u-section-1 .u-text-8 {
    margin-top: 0;
    margin-right: 469px;
    margin-left: -30px;
  }

  .u-section-1 .u-text-9 {
    margin-top: 0;
    margin-right: 210px;
    margin-left: -34px;
  }

  .u-section-1 .u-text-10 {
    margin-top: 3px;
    margin-right: 183px;
    margin-left: -50px;
  }

  .u-section-1 .u-text-11 {
    margin-top: 0;
    margin-right: 194px;
    margin-left: -50px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.875rem;
    width: 560px;
    margin-top: 638px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    width: 142px;
    height: 142px;
    margin-top: -610px;
    margin-left: -15px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 488px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.5rem;
    margin-top: -443px;
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    font-size: 1rem;
    margin-top: 12px;
    margin-right: -39px;
    margin-left: -50px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 398px;
  }

  .u-section-1 .u-text-5 {
    font-size: 1rem;
    margin-top: -476px;
    margin-right: 142px;
    margin-left: -24px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 470px;
  }

  .u-section-1 .u-text-6 {
    font-size: 1rem;
    margin-top: -545px;
    margin-right: -19px;
    margin-left: -40px;
  }

  .u-section-1 .u-text-7 {
    margin-top: 23px;
    margin-right: 239px;
    margin-left: 0;
  }

  .u-section-1 .u-text-8 {
    font-size: 1.25rem;
    margin-right: 240px;
    margin-left: 0;
  }

  .u-section-1 .u-text-9 {
    font-size: 1.125rem;
    margin-top: 6px;
    margin-right: 15px;
    margin-left: -24px;
  }

  .u-section-1 .u-text-10 {
    font-size: 1.125rem;
    margin-top: 0;
    margin-right: -20px;
  }

  .u-section-1 .u-text-11 {
    font-size: 1.125rem;
    margin-right: 15px;
    margin-left: -22px;
  }
}
